<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
        Hamid is a System Administration and Aspiring to be DevOps Engineer in the future. \
        He has a deep understanding of IT infrastructure and networking protocols, and is proficient in both deploying and managing IT infrastructure .\
        Hamid is a quick learner, with a passion for exploring new technologies to utilize them to solve real-world problems and creating IT solutions. \
        currently, studying containerization & cloud native technologies such as Docker and Kubernetes. \
        he has developed an interest in automation and deployment tools like Ansible and Terraform.

        his dedication and highly organized nature make him an ideal person to share knowledge and help others get up to speed with the latest technologies. \
        in addition, He is a reliable and hardworking individual, and his knowledge and willingness to learn makes him an invaluable team member. \
        The modern workplace is ever-evolving, and Hamid is the perfect example of the kind of engineer who can adapt and keep up to date with ever-changing technologies and practices.
    </article>
</section>
